= render "devise/shared/side_header"
.Contents
    .Main-header
        .Main-header__box
            %h1.header__name
                = @group.name
                %p.header__member
                    = current_user.name
            .Main-header__btn
                = link_to edit_group_path(@group) do
                    Edit
    .messages
        = render @messages

    .form
        = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
                = f.label :image, class: 'form__mask__image' do
                    = fa_icon 'picture-o', class: 'icon'
                    = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'