= render "devise/shared/side_header"
.Contents
    .Main-header
        .Main-header__box
            %h1.header__name#currentGroupID{data: {group_id: "#{@group.id}" }}
                = @group.name
            %ul
                Member :
                - @group.users.each do |user|
                    %li.header__member 
                        =user.name
        .Main-header__btn
            = link_to "Edit",edit_group_path(@group),class: "btn_edit"

    .messages
        = render @messages

    .form
        = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
                = f.label :image, class: 'form__mask__image' do
                    = fa_icon 'picture-o', class: 'icon'
                    = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'